// Global settings
// --------------------------------------------
// Font families
$open-sans:            'Open Sans';
$open-sans-sans-serif: 'Open Sans', sans-serif;
$merriweather-serif:   'Merriweather', serif;
$menlo:                 Menlo, Consolas, monospace;
$noto-sans-kr:         'Noto Sans KR', sans-serif;
$hack:                 'Hack', monospace;
   
$font-family-base: $noto-sans-kr;
   
$font-families: (
   // base
   'headings':          $noto-sans-kr,
   // components
   'code':              $hack,
   'caption':           $noto-sans-kr,
   'image-gallery':     $noto-sans-kr,
   'post-header-cover': $noto-sans-kr,
   'post-meta':         $noto-sans-kr,
   'post-content':      $noto-sans-kr,
   'post-excerpt-link': $noto-sans-kr,
   'highlight':         $hack,
   // layout
   'sidebar':           $noto-sans-kr
);